beautifulsoup4==4.13.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
matplotlib==3.8.2
matplotlib-inline==0.1.6
numpy==1.26.3
pandas==2.2.0
plotly==5.20.0
requests==2.32.3
statsmodels==0.14.1
streamlit==1.42.0
streamlit-javascript==0.1.5